@import 'tailwindcss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Font Weights */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-extrabold: 800;

	/* Colors */
	--primary-color: #7d4dff;
	--secondary-color: #3c245e;
	--background-color: #0e0519;
	--text-color: #f5efff;
	--heading-color: #f5efff;
	--accent-color: #7d4dff;
	--dull-color: #4a3f6e;
	--highlight-color: #a688ff;
	--blackish-color: #2f2f2f;

	/* Typography Scale */
	--font-size-base: 1rem;
	--font-size-sm: 0.875rem;
	--font-size-md: 1.125rem;
	--font-size-lg: 1.5rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 3rem;
	--font-size-xxxl: 4rem;

	/* Spacing & Globals */
	--line-height-base: 1.6;
	--line-height-heading: 1.1;
	--spacing-md: 1.5rem;
}

body {
	background-color: var(--background-color);

	font-family: var(--font-body);
	font-weight: var(--weight-regular);
	line-height: var(--line-height-base);
	-webkit-font-smoothing: antialiased;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}
